

params {
  config_profile_description = 'Biowulf nf-core config'
  config_profile_contact = 'staff@hpc.nih.gov'
  config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
  clusterOptions = null
  igenomes_base = '/fdb/igenomes_nf/'
}


singularity {
    enabled = true
    autoPullMode = true
    autoMounts = true
    cacheDir = "/data/${System.getenv('USER')}/nxf_singularity_cache"
    libraryDir = "/fdb/nxf/singularity-images"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH,MPLCONFIGDIR,NUMBA_CACHE_DIR'
}

env {
    SINGULARITY_CACHEDIR="/data/${System.getenv('USER')}/.singularity"
    OMP_NUM_THREADS = 1
    NUMBA_CACHE_DIR = "/data/${System.getenv('USER')}/.cache/numba"
    XDG_CACHE_HOME = "/data/${System.getenv('USER')}/.cache/"
    XDG_DATA_HOME = "/data/${System.getenv('USER')}/.cache/"
    MPLCONFIGDIR = "/data/${System.getenv('USER')}/.cache/matplotlib"

    OPENBLAS_NUM_THREADS = 1
    PYTHONNOUSERSITE = 1
}

// Preform work directory cleanup after a successful run
cleanup = true
timeline.enabled = true
report.enabled = true
timeline.overwrite = true
report.overwrite = true

/*
 * Please use local executor (-profile biowulflocal) for short jobs. And it has
 * to define -c , --mem and lscratch to make nextflow allocate the resource
 * automatically. The settings below may have to be adapted to the allocation
 * for the main nextflow job.
 */

profiles {
    biowulflocal {
         executor {
            name = 'local'
            memory = "${System.getenv('SLURM_MEM_PER_NODE') ?: '4000'} MB"
            cpus = "${System.getenv('SLURM_CPUS_PER_TASK') ?: '2'}"
        }
        process {
            cache = 'lenient'
            memory = "${System.getenv('SLURM_MEM_PER_NODE') ?: '4000'} MB"
            cpus = "${System.getenv('SLURM_CPUS_PER_TASK') ?: '2'}"
            process."withLabel:gpu".containerOptions = "--nv"
            _JAVA_OPTIONS="-Djava.io.tmpdir=${System.getenv('TMPDIR')}"
        }
    }

    biowulf {
        executor {
            name = 'slurm'
            queue = 'norm'
            queueSize = 200
            pollInterval = '2 min'
            queueStatInterval = '5 min'
            submitRateLimit = '6/1min'
        }

        process {
            errorStrategy = { task.exitStatus in [143,137,104,134,139,151,140,247,12,1,250,255] ? 'retry' : 'finish' }
            maxRetries     = 2
            resourceLimits = [ cpus: 192, memory: 751.GB, time: 240.h ]
            clusterOptions = { "--gres=lscratch:${100 * task.attempt}" }
            scratch = '/lscratch/$SLURM_JOB_ID'
            stageInMode = 'symlink'
            stageOutMode = 'rsync' 
            _JAVA_OPTIONS="-Djava.io.tmpdir=/data/${System.getenv('USER')}/.cache"

            // for running pipeline on group sharing data directory, this can avoid inconsistent files timestamps
            cache = 'lenient'
        }
         
        /* example for resources configuration with a 'gpu' label */
        // process {
        //     withLabel:gpu {
        //        queue = 'gpu'
        //        time = { 4.h * task.attempt }
        //        clusterOptions = " --gres=lscratch:50,gpu:1 "
        //        clusterOptions = ' --constraint="gpua100|gpuv100|gpuv100x" '
        //        containerOptions = " --nv "
        //     }
        // }

        /* example for setting short running jobs to run with local executor with process name */
        // process {
        //     withName: 'SAMTOOLS_INDEX|FASTQC' {
        //         executor = 'local'
        //     }
        // }

        /* example for resources configuration with process name */
        // process {
        //     withName: 'FASTP|MULTIQC' {
        //         cpus = { 6 * task.attempt }
        //         queue = 'quick'
        //         memory = { 4.GB * task.attempt }
        //         time = { 4.h * task.attempt }
        //     }
        // }

        /* example for dynamic computing resources allocation with process name */
        // process {
        //     withName: ' GATK4_MARKDUPLICATES ' {
        //         cpus = { 2 * task.attempt }
        //         memory = { 4.GB * task.attempt }
        //         time = { 4.h * task.attempt }
        //     }
        // }
 
        /* example for resources configuration with resource label */
        // process {
        //     withLabel:process_low {
        //         cpus = { 2 * task.attempt }
        //         memory = { 12.GB * task.attempt }
        //         time = { 4.h * task.attempt }
        //     }        
        //     withLabel:process_medium {
        //         cpus = { 6 * task.attempt }
        //         memory = { 36.GB * task.attempt }
        //         time = { 12.h * task.attempt }
        //     }
        //     withLabel:process_high {
        //         cpus = { 12 * task.attempt }
        //         memory = { 72.GB * task.attempt }
        //         time = { 16.h * task.attempt }
        //     }
        // } 
    }
}

